<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav nav-tabs">

      <li role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          (click)="selectTab('wallet')">
        <a routerLink="/">Wallet</a>
      </li>

      <li role="presentation"
          routerLinkActive="active"
          (click)="selectTab('blockchain')">
        <a routerLink="blockchain">Blockchain</a>
      </li>

      <li role="presentation"
          routerLinkActive="active"
          (click)="selectTab('transaction')">
        <a routerLink="transaction">Transaction</a>
      </li>

    </ul>
  </div>
</nav>
